.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  background-color: $color-4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 0.5rem;
  color: #fff;
  min-width: 300px;
  &__titel {
    text-align: center;
  }

  &__control {
    display: flex;
    flex-direction: column;
    margin: 1rem 0px;
    position: relative;
  }

  &__label {
    font-size: 0.75rem;
  }
  &__input {
    position: absolute;
    top: 20px;
    width: 100%;
    background: transparent;
    padding: 0.5rem 0px 0.1rem 0.1rem;
    border: none;
    border-bottom: 1px solid $color-5;
    color: #fff;
    outline: none;

    .wave {
      display: inline-block;
      font-size: 1rem;
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:focus + label span {
      color: lightblue;
      transform: translateY(-30px);
    }
  }
  &__button {
    width: 60%;
    height: 48px;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    color: $color-5;
    margin: 1rem auto;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__register-link {
    color: $color-5;
  }
}
